<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh Sách Báo Cáo</title>
</head>
<body>
<h1>Danh Sách Báo Cáo</h1>

<a th:href="@{/manager/create-report}">Tạo Báo Cáo Mới</a>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Mã báo cáo</th>
            <th>Nội dung</th>
            <th>Ngày tạo</th>

        </tr>
        <tbody>
        <tr th:each="report : ${reports}">
            <td th:text="${report.id}"></td>
            <td th:text="${report.content}"></td>
            <td th:text="${report.generatedDate}"></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>
